doctype html
html
  head
    title Group30 Assignment 2
    link(rel="stylesheet", href="/styles.css")
  body
    header
      h1 Item Repository
      p Your one-stop shop for managing your items efficiently. 
     nav 
      a(href="/index") Home
      a(href="/items") Item list
    main
      block content
    footer
      p  2026 Item Repository - All rights reserved.©
