doctype html
html

  head

    title Group30 Assignment 2
    link(rel="stylesheet" href="/styles.css")

  body

    header#mainHeader

      h1 Item Repository
      p Your one-stop shop for managing your items efficiently. 
      nav 
        a(href="/index") Home
        a(href="/items") Item list
        a(href="/login") Login 
        a(href="/register") Register
        a(href="/logout") Logout
    main
      block content

    footer#mainFooter
      p   Item Repository - All rights reserved.©2026
