extends layout

block content

  h1 Welcome to Vibe Implementor
  p A dynamic web application for creating, managing, and customizing your own vibe styles.
  p Sign up or log in to explore your personalized dashboard and start building your vibe collection.

  a(href="/login") Login
  br
  a(href="/register") Register