doctype html
html
  
  head
    
    title Group30 Assignment 2
    link(rel="stylesheet", href="/styles.css")
  
  body
    
    header
      
      h1 Item Repository
      p Put your shopping list here. 
      nav 
        a(href="/") Home
        a(href="/items") Item list
        a(href="/login") Login 
        a(href="/register") Register
        a(href="/logout") Logout
    main
      block content
    footer
      p  2026 Item Repository - All rights reserved.©
