doctype html
html

  head

    title Group30 Assignment 2
    link(rel="stylesheet" href="/css/styles.css")
    script(src="/js/loginValidation.js" defer)
    script(src="/js/registerValidation.js" defer)
  body

    header#mainHeader
    
      h1 Item Repository
      p Put your shopping list here. 
      nav 
        a(href="/") Home
        a(href="/edit-task") Edit Task
        a(href="/login") Login 
        a(href="/register") Register
        a(href="/logout") Logout
    main
      block content

    footer#mainFooter
      p   Item Repository - All rights reserved.©2026
  