extends layout

block content
  h1 Select Vibes

  form(action="/select-vibes" method="POST")
    label(for="vibe") Choose a Vibe:
    select(name="vibe" id="vibe")
      option(value="chill") Chill
      option(value="energetic") Energetic
      option(value="productive") Productive
    button(type="submit") Submit

  br
  a(href="/dashboard") Back to Dashboard