body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 30px;
}

h1,
h2 {
  color: #222;
}

form {
  margin-bottom: 20px;
}

input,
button {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}

a {
  margin-right: 10px;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

#formErrors {
  color: red;
  margin-bottom: 10px;
}

#mainHeader {
  position: fixed;
  width:100%;
  height:12%;
  display: grid;
  top: 0;
  left: 0;
  background-color: saddlebrown;
  color: seashell;
  padding: 10px;
  text-align: center;
  text-decoration: bold;
  border: groove 8px brown;

}

#mainHeader nav {
  justify-self: end;
  align-self: end;
  padding-right: 20px;
}

#mainFooter {
  position: fixed;
  width:100%;
  height:12%;
  display: grid;
  bottom: 0;
  left: 0;
  background-color: saddlebrown;
  color: seashell;
  padding: 10px;
  text-align: center;
  text-decoration: bold;
  border: groove 8px brown;
  position
}